/* #sidebar {
  box-sizing: border-box;
  border: 1px solid black;
  position: relative;
  width: 30%;
  display: inline-block;
  top: 0px;
  padding: 10px;
} */

#sidebar {
  width: 30%;
  box-sizing: border-box;
  border: 1px solid black;
  display: inline-block;
}
