#noteField {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nameText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

#cancelButton {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
#submitButton {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#folderSelect {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
